* {
    margin: 0;
    padding: 0;
    font-family: arial;
    color: #3c4c5b;
}
a {
    font-size: 1.2em;
    color: #009ac7;
    display: inline-block;
}
a#back {
    margin: 20px 30px 0 550px;
}
h2 {
    margin: 30px 0 20px 50px;
}
h3 {
    margin-left: 50px;
    margin-bottom: 20px;
}
ul {
    width: 370px;
    list-style: none;
    margin-left: 50px;
    margin-bottom: 50px;
}
    li, span {
        font-size: 1.1em;
        display: inline-block;
    }
    li {
        margin-bottom: 10px;
    }
    span {
        width: 150px;
        margin-left: 20px;
    }
