<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Black Belt Exam">
    <title>Travel Plan</title>
    <!-- <link rel="stylesheet" href="../../static/travel/css/main.css"> -->
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'travel/css/main.css' %}">
    <script type="text/javascript">
        function deleteConfirm() {
            if (!confirm("Confirm Delete?")) {
                window.event.returnValue = false;
            }
        }
    </script>
</head>
<body>
    <a id="logout" href="{% url 'users:logout' %}">Logout</a>
    <h2>Welcome, {{ user.username|title }} !</h2>
    {% if messages %}
        {% for message in messages %}
        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
        {% endfor %}
    {% endif %}
    <h3>Your Trip Schedules</h3>
    <table id="mytrip" width="1000">
        <thead>
            <tr>
                <th width="150">Destination</th>
                <th width="180">Travel Start Date</th>
                <th width="180">Travel End Date</th>
                <th width="400">Plan</th>
            </tr>
        </thead>
        <tbody>
        {% for trip in trips|dictsort:'date_from' %}
            <tr>
                <td><a  class="dest" href="{% url 'travel:show' trip.id %}">{{ trip.destination|title }}</a></td>
                <td>{{ trip.date_from|date:'M d Y' }}</td>
                <td>{{ trip.date_to|date:'M d Y' }}</td>
                <td>{{ trip.plan }}</td>
                {% if user in trip.users.all %}
                    <td><a href="{% url 'travel:unjoin' trip.id %}">Unjoin</a></td>
                {% else %}
                    <td><a id="del" href="{% url 'travel:delete' trip.id %}" onClick=deleteConfirm()>Del</a></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h3>Other User's Travel Plans</h3>
    <table id="others" width="1000">
        <thead>
            <tr>
                <th width="150">Name</th>
                <th width="200">Destination</th>
                <th width="200">Travel Start Date</th>
                <th width="200">Travel End Date</th>
                <th width="150">Do You Want to Join?</th>
            </tr>
        </thead>
        <tbody>
        {% for other in others %}
             <!-- if user not in other.users.all -->
            <tr>
                <td>{{ other.user.name|title }}</td>
                <td><a class="dest" href="{% url 'travel:show' other.id %}">{{ other.destination|title }}</a></td>
                <td>{{ other.date_from|date:'M d Y' }}</td>
                <td>{{ other.date_to|date:'M d Y' }}</td>
                <td><a href="{% url 'travel:join' other.id %}">Join</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a id="add" href="{% url 'travel:create' %}">Add</a>
</body>
</html>
