<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Black Belt Exam">
    <title>Travel Plan</title>
    <link rel="stylesheet" href="../../static/travel/css/show.css">
    <!-- {% load staticfiles %} -->
    <!-- <link rel="stylesheet" href="{% static 'travel/css/show.css' %}"> -->
</head>
<body>
    <a id="back" href="{% url 'travel:index' %}">Home</a>
    <a href="{% url 'users:logout' %}">Logout</a>
    <h2>{{ trip.destination|title }}</h2>
    <ul>
        <li>Planned By:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ trip.user.name|title }}</li>
        <li>Description: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ trip.plan }}</li>
        <li>Travel Date From: &nbsp;&nbsp;{{ trip.date_from|date:'M d Y' }}</li>
        <li>Travel Date To: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ trip.date_to|date:'M d Y' }}</li>
    </ul>
    <h3>Other Users' joining the trip:</h2>
    <ul>
    {% for other_user in trip.users.all %}
        {% if other_user != user %}
            <li>{{ other_user.name|title }}</li>
        {% endif %}
    {% endfor %}
    </ul>
</body>
</html>
